{% extends 'base.html.twig' %}

{% block title %}Animal index{% endblock %}

{% block body %}
    <h1>Animal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Breed</th>
                <th>Habitat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <td>{{ animal.id }}</td>
                <td>{{ animal.firstname }}</td>
                <td>{{ animal.breed }}</td>
                <td>                
                    {% for habitat in animal.getHabitat() %}
                        {{ habitat.name }}
                    {% endfor %}
                </td>
                <td>

                {% if app.user.roles[0] == 'ROLE_VETERINARIAN' %}

                    <a href="{{ path('food_consumption_by_animal', {'id': animal.id}) }}">View Food Consumptions</a>
                {% elseif app.user.roles[0] == 'ROLE_EMPLOYEE' %}
                    <a href="{{ path('app_animal_show', {'id': animal.id}) }}">show</a>
                    <a href="{{ path('app_animal_edit', {'id': animal.id}) }}">edit</a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_animal_new') }}">Create new</a>
{% endblock %}
