{% extends 'base.html.twig' %}

{% block title %}Nouveau Rapport Vétérinaire{% endblock %}

{% block body %}
    <h3 class="m-3">Nouveau Rapport Vétérinaire</h3>

    {{ form_start(form) }}

        <div class="form-group m-2">
            {{ form_label(form.state) }}
            {{ form_widget(form.state, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group m-2">
            {{ form_label(form.food) }}
            {{ form_widget(form.food, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group m-2">
            {{ form_label(form.foodWeight) }}
            {{ form_widget(form.foodWeight, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group m-2">
            {{ form_label(form.visitDate) }}
            {{ form_widget(form.visitDate, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group m-2">
            {{ form_label(form.details) }}
            {{ form_widget(form.details, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <button class="btn btn-success m-2">Enregistrer</button>
    {{ form_end(form) }}

    <a class="btn btn-secondary m-2" href="{{ path('app_veterinary_report_list') }}">Retour à la liste</a>
{% endblock %}
